
.parentcss {
	display: flex;
}

.detailscss {
	float:left;
	width:50%;
    margin:5px;
}

.listcss {
            overflow-y:scroll;
			height: 900px;
            float:left;
			width: 50%;
			margin:5px;
			border: 2px solid blue;
        }

.filtercss {
	height: 100 px;
	width: 100%;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

/*.cardcss {
	height: 100%;
	width:95%;
	border: 1px solid #00df55;
	margin:5px;
}*/
.cardcss {
	background-color: #fff;
    border-bottom: 1px solid #ececec;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: table;
    height: 48px;
    outline: none;
    table-layout: fixed;
    width: 98%;
}